	<footer id="footer">
		<div class="wrapper">
			<div class="footer-information">
				<div class="footer-information-item">
					<h4>О Нас</h4>
					<ul>
						<li><a href="#">Наша мисия</a></li>
						<li><a href="#">Наше обещание</a></li>
						<li><a href="#">Giobal</a></li>
						<li><a href="#">Команда</a></li>
						<li><a href="#">Вакансии</a></li>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Пресса</a></li>
						<li><a href="#">Социальная ответственность</a></li>
					</ul>
				</div>
				<div class="footer-information-item">
					<h4>Помощь</h4>
					<ul>
						<li><a href="#">Как использовать промо код</a></li>
						<li><a href="#">Начать сотрудничество</a></li>
						<li><a href="#">Публичная Оферта</a></li>
						<li><a href="#">Политика Конфендециальности</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Добавить промокод</a></li>
					</ul>
				</div>
				<div class="footer-information-item">
					<h4>Повестка дня</h4>
					<ul>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Топ-20 промокодов</a></li>
						<li><a href="#">Black Friday</a></li>
					</ul>
				</div>
				<div class="footer-information-item">
					<h4>Поделитесь с друзьями</h4>
				</div>
			</div>
			<div class="partners">
				<h4>Партнёры</h4>
				<div class="partners-item">
					<ul>
						<li><a href="#">Lamoda</a></li>
						<li><a href="#">eDarling</a></li>
					</ul>
				</div>
				<div class="partners-item">
					<ul>
						<li><a href="#">FoodPanda</a></li>
						<li><a href="#">Windu</a></li>
					</ul>
				</div>
				<div class="partners-item">
					<ul>
						<li><a href="#">Zaimo</a></li>
					</ul>
				</div>
				<div class="partners-item">
					<ul>
						<li><a href="#">Westwing</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-text">
				<p>Запрещаеться повторно опубликовать все "Эксклюзивные" скидочные промокоды без письменного согласия от CupoNation.ru. Все предложения на момент публикации тщательно отобраны и проверены нашими редокторами.</p>
			</div>
			<a class="footer-top" href="#"><img src="../img/footer-top.png" alt=""></a>
		</div>
	</footer>
</div>
</body>