<div class="mobile-menu">
	<nav class="mobile-menu-item">
		<ul>
			<li><span class="cup"></span><a href="#">Топ 20</a></li>
			<li><span class="star"></span><a href="#">Лучшие магазины</a></li>
			<li><span class="header-category"></span><a href="#">Категории</a></li>
			<li><span class="showcase"></span><a href="#">Витрина</a></li>
			<li><span class="star"></span><a href="#">Конкурс-квест</a></li>
			<li><a class="registration" href="#">Регистрация</a></li>
		</ul>
	</nav>
</div>
<div class="input-container">
	<div class="wrapper">
		<form action="#">
			<div class="input-container-item">
				<input type="search" placeholder="Search">
				<div class="submit-container">
					<input type="submit" value="">
				</div>
			</div>
		</form>
	</div>
</div>
<header id="header">
	<div class="wrapper">
		<div class="menu-burger">
			<span class="menu-burger-item"></span>
		</div>
		<a class="logo" href="#"><img src="../img/logo.png" alt=""></a>
		<nav class="header-menu">
			<ul>
				<li><span class="cup"></span><a href="#">Топ 20</a></li>
				<li><span class="star"></span><a href="#">Лучшие магазины</a></li>
				<li><span class="header-category"></span><a href="#">Категории</a></li>
				<li><span class="showcase"></span><a href="#">Витрина</a></li>
				<li><span class="star"></span><a href="#">Конкурс-квест</a></li>
			</ul>
		</nav>
		<a class="search" href="#"><img src="../img/search.png" alt=""></a>
		<a class="mobile-search" href="#"><img src="../img/mobile-search.png" alt=""></a>
		<a class="registration" href="#">Регистрация</a>
	</div>
</header>